#cartela {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#cartela table{
    border: 2px solid black;
    margin: 10px;
}

#cartela thead{
    background-color: rgb(211, 180, 240);
}

#cartela table tr{
    font-size: 30px;
    margin: 10px;
}

#cartela table tr td{
    width: 50px;
    text-align: center;
    border: 1px solid black;    
}

#cabecalho {
    margin: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;    
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho button{
    margin: 2px;
}

#sorteados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

#sorteados span{
    font-size: 30px;
    background-color:rgb(58, 56, 69);
    padding: 2px;
    margin: 3px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid rgb(255, 251, 233);
    border-radius: 50%;
}