#cartela {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#cartela table{
    border: 2px solid black;
    margin: 10px;
}

#cartela thead tr{
    background-color: rgb(252, 255, 55);
}

#cartela table tr{
    font-size: 25px;
    margin: 10px;
}

#cartela table tr td{
    width: 60px;
    text-align: center;
    border: 1px solid black;    
}

#cabecalho {
    margin: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;    
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho button{
    margin: 2px;
}

#sorteados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

#sorteados span{
    font-size: 20px;
    background-color:rgb(211, 180, 240);
    padding: 2px;
    margin: 3px;
    width: 45px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;    
}